<?xml version="1.0"?>

<!--
<!--
!!!!!!!!!!!!!!!!!!!!!!!!!!!!      DEPRECATED    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!! USE THE XACRO FILE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-->
-->

<robot name="target">
  <material name="body_color">
    <color rgba=".1 .1 .1 1.0"/>
  </material>

  <gazebo reference="base_link">
    <material>Gazebo/Black</material>
  </gazebo>

	<link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.08"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="body_color" />
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.3" />
      <inertia ixx="1e-5"  ixy="0"  ixz="0" iyy="1e-5" iyz="0" izz="1e-5" />
    </inertial>

    <collision>
      <geometry>
        <box size="0.08 0.08 0.08"/>
      </geometry>
    </collision>
  </link>

</robot>
